@tailwind base;
@tailwind components;
@tailwind utilities;

/* Plex font imports */
@font-face {
  font-family: PlexMonoBold;
  src: url("./assets/fonts/plex/IBMPlexMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: PlexMonoMedium;
  src: url("./assets/fonts/plex/IBMPlexMono-Medium.ttf") format("truetype");
}

@font-face {
  font-family: PlexMonoLight;
  src: url("./assets/fonts/plex/IBMPlexMono-Light.ttf") format("truetype");
}

/*  Manrope font imports */

@font-face {
  font-family: ManropeBold;
  src: url("./assets/fonts/manrope/Manrope-Bold.ttf") format("truetype");
}

@font-face {
  font-family: ManropeMedium;
  src: url("./assets/fonts/manrope/Manrope-Medium.ttf") format("truetype");
}


@font-face {
  font-family: ManropeExtraBold;
  src: url("./assets/fonts/manrope/Manrope-ExtraBold.ttf") format("truetype");
}

/* App styles */

body {
  margin: 0;
  padding: 0;
  background-color: #030013;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'PlexMonoMedium',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


.bg-scroll{
  background: rgba(3, 0, 19, 0.10);
}

.bg-menu{
  background: rgba(3, 0, 19, 0.50);
}

.swiper-button-next,
          .swiper-button-prev {
            color: #FFFFFF !important;
            background-position: center;
            background-repeat: no-repeat;
            padding: 2.5rem;
            font-size: 0.5rem;
            border-radius: 100%;
            z-index: 10;
          }

.swiper-button-prev {
  background-image: url("./assets/images/ellipse.svg");
}

.swiper-button-next {
  background-image: url("./assets/images/ellipse.svg");
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}
